main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disabled-inputs{
    width: 40%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.disabled-inputs input{
    padding: 5px;
    color: white;
}

.flavors{
    width: 40%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.order-flavors{
    width: 100%;
    font-size: 14px;
    margin-left: 2rem;
    margin-right: 0;
    display: inline;
}