@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #222;
    --white: #DDD;
    --button: #8870FF;
    --title: #0E0B29;
    --background: #E7E4D5;
}

body{
    font-family: Poppins, sans-serif;

    background-color: var(--black);
    color: var(--white);
}

main{
    margin-top: 10rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--button);
    font-size: 1.15rem;
}

header a + a{
    margin-left: 20px;
} 

a{
    color: var(--title);
    text-decoration: none;
}

.logo{
    width: 100px;
}

.link-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.link-btn:hover{
    filter: brightness(0.8);
    color: #FFF;
}

.title-page{
    color: var(--button);
}

select{
    border-radius: 5px;
    outline: var(--black) solid 1px;
    color: var(--black);
}

input[type="text"],input[type="number"], input[type="email"], input[type="password"], input[type="tel"]{
    border: 1px solid #000;
    border-radius: 5px;
    outline: var(--black) solid 1px;
    color: var(--black);
    height: 25px;
}